.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.headerContainer {
  display: flex;
  align-items: center;
}
.heading {
  margin-left: 12px;
}